@model YarnShop.WebApp.Models.YarnBundleVM

@{
    if (!User.Identity.IsAuthenticated)
    {
        <br />
        <i>Only logged in user can modify data</i>

    }
    else
    {
        <h4>YarnBundleVM</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="n" class="control-label"></label>
                        <input asp-for="n" class="form-control" />
                        <span asp-validation-for="n" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PricePercentage" class="control-label"></label>
                        <input asp-for="PricePercentage" class="form-control" />
                        <span asp-validation-for="PricePercentage" class="text-danger"></span>
                    </div>

                    <h5>Yarn Type</h5>
                    <div class="form-group">
                        <label asp-for="YarnType.Id" class="control-label"></label>
                        <input asp-for="YarnType.Id" class="form-control" />
                        <span asp-validation-for="YarnType.Id" class="text-danger"></span>
                    </div>
                    <a asp-action="YarnTypesList">See Yarn Types List</a>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    }
}
